
.refreshIcon16 {
    background-image: url(../images/icons/refresh.gif);
}


.addIcon16 {
    background-image: url(../images/icons/add.png);
}

.saveIcon16 {
    background-image: url(../images/icons/save.png);
}


.cancelIcon16 {
    background-image: url(../images/icons/cancel.png);
}

#tab-forums {
    overflow: hidden !important;
}
